<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="theme-color" content="#84C5FF">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>透析抜針異常検知</title>

    <!-- Bootstrap -->

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- CSS読み込み -->
    <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css">
    <link href="stylesheets/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/sweet-alert.css">

</head>

<body>
    <audio id="se" preload="auto">
        <source src="warning2.mp3" type="audio/mp3">
    </audio>
    <audio id="se2" preload="auto">
        <source src="correct1.mp3" type="audio/mp3">
    </audio>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- 画面サイズが小さい時に表示されるボタン -->
                <!-- data-targetにollapseを指定したdivのidを指定すること -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-id">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">透析抜針異常検知</a>
            </div>
            <!-- idは、上記ボタンのdata-targetに指定したものと揃えること -->
            <div class="collapse navbar-collapse" id="collapse-id">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a id="on-mobile-Alert">
                            <span class="box-volume glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li class="active"><a href="/">app</a></li>
                    <li class=""><a id="on-demo">demo</a></li>
                    <li class=""><a href="/about.html">About</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container-fluid css-container">
        <ul class="nav nav-pills">
            <li role="presentation" class="active">
                <a href="#grid-tab-pane" data-toggle="tab">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> グリッド表示</a>
            </li>
            <li role="presentation">
                <a href="#sub-tab-pane" data-toggle="tab">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> ログ検索</a>
            </li>
        </ul>
        <div class="tab-content well well-sm panel-body css-tab-content">
            <div class="tab-pane fade in active " id="grid-tab-pane">
            </div>
            <div class="tab-pane fade" id="sub-tab-pane">
                <% include pane-log %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="panel-title">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 選択中の機器情報</p>
                    </div>
                    <div id="info-select-content" class="panel-body row css-info-content">
                        <div class="col-sm-8">
                            <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ベット名&nbsp;&nbsp;</strong>
                            <span id="clickno"></span>
                            <br>
                            <br>
                            <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状態&nbsp;&nbsp;</strong>
                            <span id="clickstate"></span>
                            <br>
                            <br>
                            <strong>接続開始時間&nbsp;&nbsp;</strong>
                            <span id="clicktime"></span>
                            <br>
                            <br>
                            <strong>接続継続時間&nbsp;&nbsp;</strong>
                            <span id="clicktime2"></span>
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <div id="muteButton">
                            </div>
                            <br>
                            <br>
                            <div id="delButton">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-7">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="panel-title">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 過去の出来事</p>
                    </div>
                    <div class=" panel-body css-info-content">
                        <table id='rogInfo' class="table">
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="panel-title">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 現在の状態</p>
                    </div>
                    <div class="panel-body css-info-content">
                        <strong>システム時間</strong>
                        <br/>
                        <span id="info-content-serverTimeP" class="center-block">...</span>
                        <br/>
                        <strong>管理中の検知器数&nbsp;&nbsp;</strong>
                        <span id="info-content-detectorsLength">...</span>
                        <br/>
                        <br/>
                        <strong>オンライン状態の数&nbsp;&nbsp;</strong>
                        <span id="info-content-onlineLength">...</span>
                        <br/>
                        <br/>
                        <strong>オフライン状態の数&nbsp;&nbsp;</strong>
                        <span id="info-content-offlineLength">...</span>
                        <br/>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- inモーダル・ダイアログ -->
    <div class="modal fade" id="infoModal" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 clas s="modal-title">検知器管理サーバへの通信状況</h4>
                </div>
                <div class="modal-body" id='infoModalBody'>
                    <p>サーバへの接続を始めています。</p>
                </div>
                <div class="modal-footer">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" id='modalprogressbar' style="width: 0%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/sweet-alert.min.js"></script>
    <script src="javascripts/pane-log.js"></script>
    <script>
        $().ready(function() {
            var host = 'http://' + document.domain + ':' + location.port;
            /**
             * socket.ioで接続
             * 再接続オプションを指定してある。
             */
            // var socket = io(host, {
            socket = io(host, {
                'reconnect': true,
                'reconnection delay': 500,
                'max reconnection attempts': 10
            });
            /**
             * momentjs 日本語設定
             *
             */
            moment.locale('ja', {
                weekdays: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
                weekdaysShort: ["日", "月", "火", "水", "木", "金", "土"],
            });
            /**
             * detectorオブジェクト配列
             * 現在接続されているすべての検知器を挿入させる。
             * @type array
             */
            var detectors = [];


            /**
             * サーバとクライアント間の時間差　レスポンスタイム（機器の時間を含む）など
             * @type number
             */
            var relativeTime = 0;

            var WindowHeight = $(window).height();
            var WindowWidth = $(window).width();
            var otherHeight = $("body").height() - $(".css-tab-content").height() - $(".css-info-content").height();
            if (WindowWidth >= 1000) {
                $(".css-tab-content").height((WindowHeight - otherHeight) - 150);
                $(".css-info-content").height(150);
            }

            $('#infoModal').modal();
            $('#modalprogressbar').css('width', '0%');
            $('#infoModalBody > p').text('検知器管理サーバへ接続できませんでした。ブラウザを更新してください。');

            //connect. Fired upon connecting.
            socket.on('connect', function() {
                $('#modalprogressbar').css('width', '50%');
                appendRogInfo("info", "検知器管理サーバへ接続しました。");

                $('#infoModalBody > p').text('検知器管理サーバへ接続しました。現在の状態を取得します。');
                socket.emit("acquisitionRequestFromClient");
                setTimeout(function() {
                    $('#modalprogressbar').css('width', '100%');
                    appendRogInfo("info", "接続時の機器の状態を取得。");
                    $('#infoModalBody > p').text('現在の状態を取得完了。');
                }, 1000);
                setTimeout(function() {
                    $('#infoModal').modal('hide');
                }, 2000);
            });
            //Fired upon a disconnection.
            socket.on('disconnect', function() {
                detectors = [];
                $('#infoModal').modal();
                $('#modalprogressbar').css('width', '20%');
                appendRogInfo("info", "接続が切断されました。");
                $('#infoModalBody > p').text('接続が切断されました。再接続します。');
            });
            //reconnect. Fired upon a successful reconnection.
            socket.on('reconnect', function() {
                $('#infoModal').modal();
                $('#modalprogressbar').css('width', '40%');
                appendRogInfo("info", "再接続しました。");
                $('#infoModalBody > p').text('再接続しました。');
            });
            /**
             * 更新要求を受信時　グリッド表示とリスト表示の内容を更新
             */
            var dragSrcEl = null; //ソート機能用 ドラッグ
            var selectSrcEl = null; //ソート機能用 クリックのみ
            socket.on('updateRequestFromServer', function(data) {
                var data = JSON.parse(data);
                //クライアントの管理検知器を更新
                detectors = data.detectors;
                //サーバとクライアント間の時間差を計算し代入
                relativeTime = (new Date).getTime() - data.serverTime;
                //もしメッセージがついていた場合インフォメーションに表示。
                switch (data.messageNomber) {
                    case 0:
                        //アラートぼっくすを表示しない
                        break;
                    case 1:
                    case 2:
                        swal({
                            title: data.message + "",
                            text: "ベッド名：" + selectdetector(data.detectorId).bet_name,
                            type: "warning",
                            showConfirmButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "警告音を一時的に止める",
                            showCancelButton: true,
                            cancelButtonText: "閉じる",
                            closeOnConfirm: true,
                        }, function(isConfirm) {
                            if (isConfirm) {
                                //nonMonitoringDetectorIdsに追加されているかチェック
                                var monitor = true;
                                nonMonitoringDetectorIds.forEach(function(nonMonitoringDetectorId) {
                                    if (nonMonitoringDetectorId === data.detectorId) {
                                        monitor = false;
                                        return true;
                                    }
                                });
                                if (monitor) {
                                    pushNonMonitoringDetectorId(data.detectorId)
                                    setTimeout(function() {
                                        delNonMonitoringDetectorId(data.detectorId);
                                    }, 2000 * 60);
                                }
                            }
                        });
                        break;
                    case 3:
                        $('#se2').prop("volume", 1.0);
                        $('#se2').get(0).play();
                        swal({
                            title: data.message + "",
                            text: "ベッド名：" + selectdetector(data.detectorId).bet_name,
                            type: "warning",
                            showConfirmButton: true,
                            confirmButtonText: "閉じる",
                            closeOnConfirm: true,
                        });
                        break;
                    default:
                }
                if (data.messageNomber !== -1) {
                    if (selectdetector(data.detectorId) != null) {
                        appendRogInfo(selectdetector(data.detectorId).bet_name, data.message);
                    } else {
                        appendRogInfo("info", data.message);
                    }
                }
                //現在の状態の管理中の検知器数を更新
                $('#info-content-detectorsLength').text(detectors.length);

                //現在の状態のオンライン・オフラインの検知器数を更新
                var onlineLength = 0;
                var offlineLength = 0;
                detectors.forEach(function(detector) {
                    if (detector.state === "unknown") {
                        offlineLength++;
                    } else {
                        onlineLength++;
                    }
                });
                $('#info-content-onlineLength').text(onlineLength);
                $('#info-content-offlineLength').text(offlineLength);

                //もしselectSrcElにオブジェクトが格納されていたらInfoSelectContentを更新
                if (selectSrcEl != null) {
                    var selectSrcElId = $(selectSrcEl).attr("data-detectorId");
                    setInfoSelectContent(selectSrcElId);
                }

                //DOM構造を構築
                var detectorids = [];
                var domDetectorids = [];
                detectors.forEach(function(detector) {
                    detectorids.push(Number(detector.id));
                });

                $("div[data-detectorId]").each(function(i, element) {
                    domDetectorids.push(Number($(element).attr("data-detectorId")));
                });

                var deleteId = [];
                detectorids.forEach(function(detectorid) {
                    domDetectorids.forEach(function(domDetectorid) {
                        if (detectorid === domDetectorid) {
                            deleteId.push(detectorid);
                            //更新----
                            var detector = selectdetector(detectorid);
                            var boxClass = null;
                            var stateString = null;
                            switch (detector.state) {
                                case 'normal':
                                    boxClass = "box panel panel-success";
                                    stateString = "動作中";
                                    break;
                                case 'disorder':
                                    boxClass = "box panel panel-danger";
                                    stateString = "検知中";
                                    break;
                                case 'instability':
                                    boxClass = "box panel panel-warning";
                                    stateString = "不安定";
                                    break;
                                case 'unknown':
                                    boxClass = "box panel panel-default";
                                    stateString = "不接続";
                                    break;
                                case 'warning':
                                    boxClass = "box panel panel-warning";
                                    stateString = "状態確認";
                                    break;
                            }
                            var $domDetector = $("div[data-detectorId='" + detectorid + "']");
                            $domDetector.attr("class", boxClass);
                            $domDetector.find('.panel-heading').text(stateString);
                            //end更新----

                        }
                    })
                });
                //更新済みを削除
                deleteId.forEach(function(id) {
                    detectorids.splice(detectorids.indexOf(id), 1);
                    domDetectorids.splice(domDetectorids.indexOf(id), 1)
                });

                detectorids.forEach(function(detectorid) {
                    //新規
                    var detector = selectdetector(detectorid);
                    var boxClass = null;
                    var stateString = null;
                    switch (detector.state) {
                        case 'normal':
                            boxClass = "box panel panel-success";
                            stateString = "動作中";
                            break;
                        case 'disorder':
                            boxClass = "box panel panel-danger";
                            stateString = "検知中";
                            break;
                        case 'instability':
                            boxClass = "box panel panel-warning";
                            stateString = "不安定";
                            break;
                        case 'unknown':
                            boxClass = "box panel panel-default";
                            stateString = "不接続";
                            break;
                        case 'warning':
                            boxClass = "box panel panel-warning";
                            stateString = "状態確認";
                            break;
                    }
                    var $obj = $("<div></div>", {
                        addClass: boxClass,
                        on: {
                            click: function(event) {
                                //InfoSelectContentを更新
                                setInfoSelectContent(detector.id);
                                $("#delButton").html($('<div></div>', {
                                    text: "管理から外す",
                                    type: "button",
                                    addClass: "btn btn-primary btn-block",
                                    on: {
                                        click: function() {
                                            delNonMonitoringDetectorId(detector.id);

                                            $(dragSrcEl).children(".box-select").hide()
                                            $(selectSrcEl).children(".box-select").hide()
                                            dragSrcEl = null;
                                            selectSrcEl = null;

                                            //InfoSelectContentの中身を初期化
                                            delInfoSelectContent();

                                            socket.emit("deletegridFromClient", detector.id);
                                        }
                                    }
                                }));

                                $("#muteButton").html($('<div></div>', {
                                    text: "ミュート切り替え",
                                    type: "button",
                                    addClass: "btn btn-primary btn-block",
                                    on: {
                                        click: function() {
                                            if (isNonMonitoringDetectorId(detector.id)) {
                                                delNonMonitoringDetectorId(detector.id);
                                            } else {
                                                pushNonMonitoringDetectorId(detector.id);
                                            }
                                        }
                                    }
                                }));
                                if (selectSrcEl == null) {
                                    $(this).children(".box-select").show()
                                    selectSrcEl = this;
                                } else {
                                    if (selectSrcEl != this) {
                                        // Set the source column's HTML to the HTML of the columnwe dropped on.
                                        $(this).hide();
                                        $(selectSrcEl).hide();
                                        $(this).after($('<p id="dropPoint"/>'));
                                        $(selectSrcEl).after($(this));
                                        $("#dropPoint").after($(selectSrcEl));
                                        $("#dropPoint").remove();
                                        $(this).fadeIn()
                                        $(selectSrcEl).fadeIn();
                                        //select out
                                        $(this).children(".box-select").hide();
                                        $(selectSrcEl).children(".box-select").hide();
                                        selectSrcEl = null;
                                    } else {
                                        //select out
                                        $(this).children(".box-select").hide();
                                        $(selectSrcEl).children(".box-select").hide();
                                        selectSrcEl = null;
                                    }
                                    //InfoSelectContentの中身を初期化
                                    delInfoSelectContent();
                                }
                            },
                            /*
                             * マウスソート機能
                             */
                            //thisでドラッグが始まった時
                            dragstart: function(event) {
                                $(this).css("opacity", "0.5");
                                var e = event;
                                if (event.originalEvent) {
                                    e = event.originalEvent;
                                }
                                //ドラッグオブジェクト選択
                                dragSrcEl = this;
                                e.dataTransfer.effectAllowed = 'move';
                            },
                            //thisでドラッグが終わった時
                            dragend: function(event) {
                                //イベントをキャンセル
                                event.preventDefault();
                                //イベントを親要素への伝達をここで止める
                                event.stopPropagation();
                                $(this).css("opacity", "1.0");
                                $(this).removeClass("over");
                                $('#grid-tab-pane').children().each(function(i, obj) {
                                    $(obj).css("opacity", "1.0");
                                    $(obj).removeClass("over");
                                });
                            },
                            //別Elementでドラッグしているカーソルが乗っかっている時
                            dragover: function(event) {
                                //イベントをキャンセル
                                event.preventDefault();
                                //イベントを親要素への伝達をここで止める
                                event.stopPropagation();
                                $(this).addClass("over");
                            },
                            //別Elementでドラッグしているカーソルが入った時
                            dragenter: function(event) {
                                $(this).addClass("over");
                            },
                            //別Elementでドラッグしているカーソルが抜けた時
                            dragleave: function(event) {
                                $(this).removeClass("over");
                            },
                            drop: function(event) {
                                //イベントをキャンセル
                                event.preventDefault();
                                //イベントを親要素への伝達をここで止める
                                event.stopPropagation();
                                //入れ替え条件
                                if (dragSrcEl != this && $(this).attr("data-detectorId") !== "-1" && $(dragSrcEl).attr("data-detectorId") !== "-1") {
                                    // Set the source column's HTML to the HTML of the columnwe dropped on.
                                    //$(dragSrcEl).after($(this));
                                    $(this).after($('<p id="dropPoint"/>'));
                                    $(dragSrcEl).after($(this));
                                    $("#dropPoint").after($(dragSrcEl));
                                    $("#dropPoint").remove();
                                }
                                //ドロップエレメントを初期化
                                dragSrcEl = null;
                            }

                        }
                    });
                    $obj.attr("data-detectorId", detector.id);
                    $obj.attr("draggable", "true");
                    $obj.append($("<div></div>", {
                        addClass: "panel-heading",
                        text: stateString

                    }));
                    $obj.append($("<div></div>", {
                        addClass: "panel-body ",
                        text: detector.bet_name
                    }));
                    $obj.append($("<div></div>", {
                        addClass: "box-volume glyphicon glyphicon-volume-up"
                    }));

                    $obj.append($("<div></div>", {
                        addClass: "box-select glyphicon glyphicon-check",
                    }).hide());

                    $obj.appendTo('#grid-tab-pane').hide().show("1000");
                });
                domDetectorids.forEach(function(domDetectorid) {
                    //削除
                    delNonMonitoringDetectorId(Number(domDetectorid));
                    var $deldom = $("div[data-detectorId='" + domDetectorid + "']");
                    $deldom.attr("data-detectorId", "-1");
                    $deldom.fadeOut('fast').queue(function() {
                        this.remove();
                    });
                });
            });
            socket.on('stateLog', function(loggedStateObj) {
                $("#warning-log-table tbody tr").remove(); //一旦テーブルのログを削除してから新たなデータを表示
                // console.log("loggedStateObj:  ", loggedStateObj);
                loggedStateObj.some(function(obj, i) {
                    if(obj === null) return; //空ならループを抜ける
                    for(var key in obj.state){
                        obj.state[key].some(function(v, i) {
                            if(v === null) return;
                            $("#warning-log-table").append('<tr><td>' + obj.id + '</td><td>' + key + '</td><td>' + moment(v).format("YYYY-MM-DD(ddd)HH:mm:ss") + '</td></tr>')
                        });
                    }
                });
            });

            /**
             * RogInfoへメッセージを整形し表示。
             * @method appendRogInfo
             * @param {string} message
             * @return {detector}
             */
            function appendRogInfo(message1, message2) {
                $tr = $("<tr></tr>")

                $tr.prepend($("<td></td>").text(message2));
                $tr.prepend($("<td></td>").text(message1));
                $tr.prependTo('#rogInfo').hide().show("1000");

                if ($('#rogInfo').length > 100) {
                    $('#rogInfo:last-child').remove();
                }
            }

            /**
             * info-select-contentへメッセージを整形し表示。
             * @method setInfoSelectContent
             * @param {Number} detectorId
             */
            function setInfoSelectContent(detectorId) {
                var detector = selectdetector(detectorId);
                switch (detector.state) {
                    case 'normal':
                        boxClass = "box panel panel-success";
                        stateString = "動作中";
                        break;
                    case 'disorder':
                        boxClass = "box panel panel-danger";
                        stateString = "検知中";
                        break;
                    case 'instability':
                        boxClass = "box panel panel-warning";
                        stateString = "不安定";
                        break;
                    case 'unknown':
                        boxClass = "box panel panel-default";
                        stateString = "不接続";
                        break;
                    case 'warning':
                        boxClass = "box panel panel-warning";
                        stateString = "状態確認";
                        break;
                }
                $('#clickno').text(detector.bet_name);
                $('#clickstate').text(stateString);
                if (detector.state != "unknown") {
                    $('#clicktime').text(moment(detector.start_time).format('YYYY年MM月DD日HH時mm分ss秒'));
                    $('#clicktime2').text(moment((new Date()).getTime() - relativeTime).startOf(detector.start_time).fromNow());
                } else {
                    $('#clicktime').text();
                    $('#clicktime2').text();
                }
            }

            function delInfoSelectContent() {
                $('#clickstate').empty();
                $('#clicktime').empty();
                $('#clicktime2').empty();
                $('#clickno').empty();
                $('#delButton').empty();
                $('#muteButton').empty();
            }

            /**
             * idからdetectorオブジェクトを返す。
             * @method selectdetector
             * @param {namber}
             * @return {detector}
             */
            function selectdetector(id) {
                id = Number(id);
                var reDetector = null;
                detectors.forEach(function(detector) {
                    if (detector.id === id) {
                        reDetector = detector;
                    }
                });
                return reDetector;
            }

            //ミュート機能ｘ
            var nonMonitoringDetectorIds = [];

            function pushNonMonitoringDetectorId(detectorid) {
                nonMonitoringDetectorIds.push(detectorid);
                $("div[data-detectorId]").each(function(i, element) {
                    if (Number($(element).attr("data-detectorId")) === detectorid) {
                        $(element).find(".box-volume").removeClass("glyphicon-volume-up");
                        $(element).find(".box-volume").addClass("glyphicon-volume-off");
                        return false; //break;
                    }
                });
            }

            function delNonMonitoringDetectorId(detectorid) {
                nonMonitoringDetectorIds.splice(nonMonitoringDetectorIds.indexOf(detectorid), 1);
                $("div[data-detectorId]").each(function(i, element) {
                    if (Number($(element).attr("data-detectorId")) === detectorid) {
                        $(element).find(".box-volume").removeClass("glyphicon-volume-off");
                        $(element).find(".box-volume").addClass("glyphicon-volume-up");
                        return false; //break;
                    }
                });
            }

            function isNonMonitoringDetectorId(detectorid) {
                var f = nonMonitoringDetectorIds.indexOf(detectorid);
                if (f === -1) {
                    return false;
                } else {
                    return true;
                }
            }

            /**
             * 現在の状態の更新(loop)
             * 常に監視
             */
            function updateCurrentState() {
                //システム時間の更新
                $("#info-content-serverTimeP").text(moment((new Date).getTime() + relativeTime).format("YYYY-MM-DD (ddd) HH:mm:ss"));
            }
            var updateCurrentStatePIntervalID = setInterval(updateCurrentState, 1000);

            /**
             *　detectorsの状態を確認しアラート機能や警告表示をする。(loop)
             */

            function monitoringDetectors() {
                var Alertflag = false;
                detectors.forEach(function(detector) {
                    //アラートや警告を表示するかdetectorごとに判断
                    var monitor = true;
                    nonMonitoringDetectorIds.forEach(function(nonMonitoringDetectorId) {
                        if (nonMonitoringDetectorId === detector.id) {
                            monitor = false;
                            return true;
                        }
                    });
                    if (!monitor) {
                        return true;
                    }
                    if (detector.state == "disorder") {
                        Alertflag = true;
                        $('#se').prop("volume", 1.0);
                        $('#se').get(0).play();

                    } else if (　detector.state == "warning") {
                        Alertflag = true;
                        $('#se2').prop("volume", 1.0);
                        $('#se2').get(0).play();

                    } else if (detector.state == "instability") {}
                });


                setTimeout(monitoringDetectors, 1000);
            }
            monitoringDetectors();

            /**
             * mobile端末用Alert再生イベント
             */
            $("#on-mobile-Alert").on('click', function() {
                $('#se2').get(0).play();
                $('#se').get(0).play();
                $('#se2').prop("volume", 0.0);
                $('#se').prop("volume", 0.0);
            });

            /**
             * demoを切り替えする。
             */
            $("#on-demo").on('click', function() {
                socket.emit("demo", "");
            });
            /**
             * リサイズ操作が終わった時、表示要素を調整
             */
            var timer = false;
            $(window).resize(function() {
                if (timer !== false) {
                    clearTimeout(timer);
                }
                timer = setTimeout(function() {
                    var WindowHeight = $(window).height();
                    var WindowWidth = $(window).width();
                    var otherHeight = $("body").height() - $(".css-tab-content").height() - $(".css-info-content").height();
                    if (WindowWidth >= 1000) {
                        $(".css-tab-content").height((WindowHeight - otherHeight) - 150);
                        $(".css-info-content").height(150);
                    }
                }, 200);
            });
        });
    </script>
</body>

</html>
