<!--「テーブル 参考: http://bootsnipp.com/snippets/featured/panel-table-with-filters-per-column  」 -->

<!-- / タブ枠-->
<div class="col-md-12 col-sm-12" ng-app="nrpsApp">



      <!--簡易警告履歴-->
    <div class="panel panel-primary filterable">
        <div class="panel-heading">
            <h3 class="panel-title">警告履歴</h3>
            <div class="pull-right">
                <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>search</button>
            </div>
            <div class="pull-right">
            </div>
        </div>
        <table class="table" id="warning-log-table">
            <thead>
                <tr class="filters">
                    <th>
                        <input type="text" class="form-control" placeholder="ID" disabled>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="状態" disabled>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="時刻" disabled>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- / タブ-->
    <!--警告履歴途中-->
    <ul class="nav nav-tabs" hidden="false">
        <li class="active"><a href="#tab1" data-toggle="tab">警告履歴</a></li>
        <li><a href="#tab2" data-toggle="tab">接続履歴</a></li>
    </ul>
    <div id="myTabContent" hidden="false" class="tab-content">
        <!--警告履歴タブの内容-->
        <div class="tab-pane fade in active" id="tab1">
          <div class="panel panel-primary filterable">
              <div class="panel-heading">
                  <h3 class="panel-title">警告履歴</h3>
                  <div class="pull-right">
                      <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>search</button>
                  </div>
                  <div class="pull-right">
                  </div>
              </div>
              <table class="table" id="warning-log-table">
                  <thead>
                      <tr class="filters">
                          <th>
                              <input type="text" class="form-control" placeholder="ID" disabled>
                          </th>
                          <th>
                              <input type="text" class="form-control" placeholder="状態" disabled>
                          </th>
                          <th>
                              <input type="text" class="form-control" placeholder="時刻" disabled>
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
          </div>
        </div>
        <!-- / 警告履歴タブの内容-->

        <!--接続履歴タブ内容-->
        <div class="tab-pane fade" id="tab2">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">接続履歴</h3>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>search</button>
                    </div>
                    <div class="pull-right">
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr class="filters">
                            <th>
                                <input type="text" class="form-control" placeholder="ID">
                            </th>
                            <th>
                                <input type="text" class="form-control" placeholder="オンライン時刻">
                            </th>
                            <th>
                                <input type="text" class="form-control" placeholder="オフライン時刻">
                            </th>
                            <th>
                                <input type="text" class="form-control" placeholder="稼働時間">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- / 接続履歴タブ内容-->

    </div>
</div>
