@media screen and (min-width: 0px) {
    .css-tab-content {
        height: 350px;
    }
    .css-info-content {
        height: 200px;
        overflow-y: auto;
    }
    .box {
        width: 94px;
        height: 94px;
    }
    .box > .panel-heading {
        font-size: 13px;
    }
    .box > .panel-body {
        font-size: 13px;
    }
}
@media screen and (min-width: 768px) {
    .css-tab-content {
        height: 350px;
    }
    .css-info-content {
        height: 200px;
        overflow-y: hidden;
    }
    .box {
        width: 141px;
        height: 140px;
    }
    .box > .panel-heading {
        font-size: 20px;
    }
    .box > .panel-body {
        font-size: 20px;
    }
}
@media screen and (min-width: 1366px) {
    .css-tab-content {
        height: 350px;
    }
    .css-info-content {
        height: 200px;
        overflow-y: hidden;
    }
    .box {
        width: 200px;
        height: 190px;
    }
    .box > .panel-heading {
        font-size: 30px;
    }
    .box > .panel-body {
        font-size: 30px;
    }
}
@media screen and (min-width: 1920px) {
    .css-tab-content {
        height: 500px;
    }
    .css-info-content {
        height: 350px;
    }
    .box {
        width: 200px;
        height: 190px;
    }
    .box > .panel-heading {
        font-size: 30px;
    }
    .box > .panel-body {
        font-size: 30px;
    }
}
.css-tab-content{
    overflow-y: auto;;
}
.css-info-content{
    overflow-y: auto;;
}
body {
    /*font-family: 'Noto Sans Japanese', serif;*/
    background-color: #444455;
}
.modal-content {
    margin-top: 30%;
}
.nav-pills {
    margin-top: -12px;
    margin-bottom: 7px;
}
.well {
    margin-top: : 10px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.1);
}

/******ボックス******/

.box {
    cursor: move;
    margin: 3px;
    padding: 0px;
    float: left;
    list-style: none;
    position: relative;
    /***** アニメーション ******/
    -moz-transition: -moz-transform 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    -ms-transition: -ms-transform 0.2s linear;
    transition: transform 0.2s linear;
}
.box:active {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.box.over {
    border: 2px dashed #000;
}
.box > .panel-heading {
    text-align: center;
}
.box > .panel-body {
    padding: -1px;
    margin: 0px;
    font-size: auto;
}
.box > .panel-body {
    text-align: center;
}
.box > .box-volume {
    position: absolute;
    font-size: 18px;
    top: 0px;
    left: 3px;
    height: 0;
    width: 0;
}

/************pane-log.ejs************/
.filterable {
    margin-top: 3px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
/************pane-log.ejs************/

.box > .box-select {
    position: absolute;
    font-size: 18px;
    top: 0px;
    right: 20px;
    height: 0;
    width: 0;
}
